.landingpagedesign {
    text-align: center;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 40px;
  }
  
  .landingpage-titledescription {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 130px;
  }
  
  /* Image Containers */
  .landingpage-image-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 50px;
  column-gap: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  }
  
  .landingpage-image-wrapper {
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #a3a3a3;
    margin-bottom: 20px;
  }
  
  .landingpage {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transition for hover effect */
  }

  .landingpagebtd {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transition for hover effect */
  }

  .landingpagelmd {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transition for hover effect */
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding: 10px;
    transition: 0.3s ease;
  }
  
  .page-text {
    font-size: 20px; /* Font size for the span */
    display: block; /* Ensure the span text is on a new line */
    margin-top: 5px; /* Optional: space between main text and span */
    font-weight: normal;
  }
  
  .landingpage-image-wrapper:hover .landingpage {
    filter: brightness(50%);
    transform: scale(1.1);
  }

  .landingpage-image-wrapper:hover .landingpagebtd {
    filter: brightness(50%);
    transform: scale(1.1);
  }

  .landingpage-image-wrapper:hover .landingpagelmd {
    filter: brightness(50%);
    transform: scale(1.1);
  }
  
  
  .landingpage-image-wrapper:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  
  .landingpage {
      width: 1316px;
      height: 4296px;
  }

	.landingpagebtd {
	  width: 1316px;
      height: 3892px;	
  }
		
	.landingpagelmd {
	  width: 1316px;
      height: 3576px;	
  }


    @media (max-width: 768px) {
      /* TRAVEL WEBSITE */
    .landingpage-window {
       width: 510px;
    
    }
  
    .landingpage {
      width: 510px;
      height: 1665px;
  }

	.landingpagebtd {
	  width: 510px;
      height: 1508px;	
  }
		
	.landingpagelmd {
	  width: 510px;
      height: 1386px;	
  }
		
    
    
    .landingpage-image-container {
     grid-template-columns: 1fr; /* One column layout */
     gap: 50px; /* Adjust gap for spacing between images in mobile view */
     margin-bottom: 50px;
     }
    
    
    }