@charset "utf-8";
.container {
  display: flex;  /* Flexbox for overall layout */
}

html {
  scroll-behavior: smooth;
}


.top-bar {
  width: 100%;
  background-color: #1F1F1F; /* Background color for the rectangle */
  position: fixed;
    color: #FFFFFF; 
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
}

.text-area {
  padding: 10px;  /* Add some padding for spacing */
  font-family: sans-serif, sans-serif;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 25px;
}
button {
  background-color: transparent;  /* Remove button background */
  border: none;  /* Remove button border */
  padding: 15px 10px;  /* Add some padding for text */
  color: #FFFFFF;  /* Inherit text color from parent */
  cursor: pointer;  /* Indicate clickable element */
  margin-right: 30px;  /* Add margin between buttons */
  font-family: sans-serif, sans-serif;
  font-size: 12px;
}

.bold-button {
  font-weight: bold;  /* Make this button bold */
        cursor:default;
}

.portfolio-button {
  background-color: transparent;
  border: none;
  padding: 15px 10px;
  color: #FFFFFF;
    cursor:default;
  font-family: sans-serif;
  font-size: 12px;
}


.content {
  margin: 20px auto;
  width: 1470px;
  margin-top: 150px;
  justify-content: left;
}

.content-wrapper {
  height: 1px;  /* Full viewport height */
  display: flex;  /* Enable flexbox */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  background-color: aqua;
}

.text-with-icon {
  cursor: pointer;
}


/* CSS for preview-images class to arrange images in a 3-column layout */
.preview-images {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  gap: 25px; /* Space between images */
}

.preview-images img {
  width: 470px; /* Set image width */
  height: 470px; /* Set image height */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #a3a3a3;
  object-fit: cover; /* Ensure images cover their containers */
}



.folderback-container {
font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

/* Icons */

.icon {
  width: 15px;
  height: 15px;
}

.back-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 40px;
  cursor: pointer;
}

.folderback-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 90px;
  cursor: pointer;
}

.smgback-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 90px;
  cursor: pointer;
}

.logoback-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 90px;
  cursor: pointer;
}

/* Second Window */

.folder-icon {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

/* LOGO BACK WINDOW */
.logo-image {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.logo-back {
  margin-bottom: 70px;
}

.logoback-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

/*FOLDER BACK WINDOW*/

.folderback-button {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.folder-back {
  margin-bottom: 70px;
}

.folderback-image {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

/* SMG BACK WINDOW */

.smgback-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.SMG-image {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.SMG-back {
  margin-bottom: 70px;
}

/* ALL WEB DESIGNS BACK WINDOW */

.photography-back-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.musician-back-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.business-back-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.travel-back-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.back-image {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.photography-back {
  margin-bottom: 70px;
}

.musician-back {
  margin-bottom: 70px;
}

.business-back {
  margin-bottom: 70px;
}

.travel-back {
  margin-bottom: 70px;
}

.folder-contents {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center; /* Center items horizontally */
  gap: 100px; /* Adjust as needed for spacing */
  margin-bottom: 200px;
}

.photography-folder {
  font-family: sans-serif;
}

.musician-folder {
  font-family: sans-serif;
}

.business-folder {
  font-family: sans-serif;
}

.travel-folder {
  font-family: sans-serif;
}

/*LOGO Images*/

.logo-images {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center; /* Center items horizontally */
  gap: 50px; /* Adjust as needed for spacing */
  margin-bottom: 100px;
}

/* Place images in a specific pattern */
.logo-images img:nth-child(1) { grid-row: 1 / 2; grid-column: 1; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.logo-images img:nth-child(2) { grid-row: 1 / 2; grid-column: 2; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.logo-images img:nth-child(3) { grid-row: 2 / 3; grid-column: 1; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(4) { grid-row: 2 / 3; grid-column: 2; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(5) { grid-row: 3 / 4; grid-column: 1; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(6) { grid-row: 3 / 4; grid-column: 2; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(7) { grid-row: 4 / 5; grid-column: 1; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(8) { grid-row: 4 / 5; grid-column: 2; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(9) { grid-row: 5 / 6; grid-column: 1; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}
.logo-images img:nth-child(10) { grid-row: 5 / 6; grid-column: 2; 
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;}

.logo-images img {
  width: 670px;
  height: 670px;
  border-radius: 10px;
  border: 1px solid #a3a3a3;
}

/*SOCIAL MEDIA GRAPHICS Images*/

.social-images {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center; /* Center items horizontally */
  gap: 50px; /* Adjust as needed for spacing */
  margin-bottom: 100px;
}

/* Place images in a specific pattern */
.social-images img:nth-child(1) { grid-row: 1 / 2; grid-column: 1; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(2) { grid-row: 1 / 2; grid-column: 2; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(3) { grid-row: 2 / 3; grid-column: 1; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(4) { grid-row: 2 / 3; grid-column: 2; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(5) { grid-row: 3 / 4; grid-column: 1; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(6) { grid-row: 3 / 4; grid-column: 2; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(7) { grid-row: 4 / 5; grid-column: 1; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(8) { grid-row: 4 / 5; grid-column: 2; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(9) { grid-row: 5 / 6; grid-column: 1; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }
.social-images img:nth-child(10) { grid-row: 5 / 6; grid-column: 2; 
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%; }

/*Social Media Graphics Images*/

.social-images img {
  width: 670px;
  height: 670px;
  border-radius: 10px;
}


.social-images img:nth-child(9) {
  width: 670px; /* Adjust as needed */
  height: 948px; /* Adjust as needed */
}

.social-images img:nth-child(10) {
  width: 670px; /* Adjust as needed */
  height: 1675px; /* Adjust as needed */
}

.webpreview-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.logopreview-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.smgpreview-icon {
  font-family: sans-serif; /* Replace with your chosen font */
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold; /* Adjust weight if needed */
  cursor: pointer;
}

.websection {
  margin-bottom: 70px;
  animation: fadeUp 0.2s ease-in-out forwards;
}

.logosection {
  margin-bottom: 70px;
  animation: fadeUp 0.2s  ease-in-out forwards;
  animation-delay: 0.1s;
}

.smgsection {
  margin-bottom: 70px;
  animation: fadeUp 0.2s  ease-in-out forwards;
  animation-delay: 0.2s;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

  .footer {
    text-align: center;
    padding: 20px 0;
    color: #606060; /* Adjust text color as needed */
    margin-bottom: 20px;
  }
  
  .footer-line {
    width: 80%;
    height: 1px;
    background-color: #B9B9B9; /* Adjust the line color as needed */
    margin: 0 auto;
  }
  
  .footer-content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto 0;
    font-family: sans-serif;
    flex-wrap: wrap; /* Ensure that elements can wrap to the next line */
  }
  
  .footer-content .left-text,
  .footer-content .right-text {
    flex: 1;
    font-size: 11px; /* Default font size */
  }
  
  .footer-content .left-text {
    text-align: left;
  }
  
  .footer-content .right-text {
    text-align: right;
  }

  .line {
    background-color: #B9B9B9;  /* Set background color for the line */
    height: 1px;            /* Set line height (thickness) */
    width: 1286px;            /* Set line width to span full width */
    margin: 10px 0;         /* Add some margin for spacing */
    margin: auto;  
  }

  .folder-window {
    box-shadow: 0 0 15px rgba(161, 161, 161, 0.3); /* Adjust values as needed */
    border-radius: 15px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    animation: fadeUp 0.2s;
  }

  .logos-window {
    animation: fadeUp 0.2s;
  }
  

  .social-media-window {
    animation: fadeUp 0.2s;
  }

  .photography-window {
    animation: fadeUp 0.2s;
  }

  .musician-window {
    animation: fadeUp 0.2s;
  }

  .business-window {
    animation: fadeUp 0.2s;
  }

  .travel-window {
    animation: fadeUp 0.2s;
  }

/* Fade-up animation for content */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* Media Query for smaller screens */
@media (max-width: 768px) {

  .content {
    display: flex;           /* Apply flexbox to the parent container */
    flex-direction: column;  /* Ensure content stacks vertically */
    align-items: center;     /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 80%;
  }

  .preview-images {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .logo-images img {
    width: 510px;
    height: 510px;
  }
.social-media-window {
  width: 510px;
}
  .social-images img {
    width: 510px;
    height: 510px;
  }

  .social-images img:nth-child(9) {
    width: 510px; /* Adjust as needed */
    height: 721px; /* Adjust as needed */
  }
  
  .social-images img:nth-child(10) {
    width: 510px; /* Adjust as needed */
    height: 1275px; /* Adjust as needed */
  }

    .footer-content {
      justify-content: space-between; /* Maintain space-between even on smaller screens */
      padding-top: 10px;
    }
    
    .footer-content .left-text {
    flex: 1 1 50%; /* Ensure each text block takes up half the width */
      text-align: left; /* Maintain left alignment */
        font-size: 6px; /* Default font size */
    }
    .footer-content .right-text {
      flex: 1 1 50%; /* Ensure each text block takes up half the width */
      text-align: right; /* Maintain left alignment */
        font-size: 6px; /* Default font size */
    }
}
  

